In [1]:
import pandas as pd

In [2]:
path='file1.csv'

In [6]:
with open(path,'w'):
    pass

In [47]:
songs={'Album':['Thriller','Action','Moon'],'List':['1','2','3']}
sf=pd.DataFrame(songs)

In [48]:
sf.head()

      Album List
0  Thriller    1
1    Action    2
2      Moon    3

In [12]:
sf.to_csv(path)

In [13]:
df=pd.read_csv(path)

In [45]:
df

   Unnamed: 0     Album  List
0           0  Thriller     1
1           1    Action     2
2           2      Moon     3

In [15]:
import numpy as np

In [16]:
a=np.array([1,3,4,5,6])

In [23]:
b=np.array([3,5,6,3,2])

In [24]:
c=a+b

In [25]:
c

array([ 4,  8, 10,  8,  8])

In [26]:
a*b

array([ 3, 15, 24, 15, 12])

In [28]:
2*a

array([ 2,  6,  8, 10, 12])

In [29]:
a.mean()

3.8

In [30]:
a.max()

6

In [35]:
d=np.linespace(-2,2,num=5)

AttributeError: module 'numpy' has no attribute 'linespace'

In [41]:
a.shape

(5,)

In [44]:
a

array([1, 3, 4, 5, 6])