In [31]:
class student:
    def info(self,name,age,roll_no):
        self.name=name
        self.age=age
        self.roll_no=roll_no
    def details(self):
        print("The student name is:",self.name,"\nAge is:",self.age,"\nThe roll no is:",self.roll_no)
    def school(self):
        print("This student is from kts school.")

In [32]:
venu=student()

In [33]:
venu.info('venu',14,990)

In [34]:
venu.name

'venu'

In [6]:
venu.age

14

In [35]:
ramu=student()

In [36]:
student.info(ramu,'ramu',12,998)

In [37]:
ramu.age

12

In [38]:
student.details(ramu)

The student name is: ramu
Age is: 12
The roll no is: 998

In [29]:
student.details(venu)

The student name is: venu
Age is: 14
The roll no is: 990

In [39]:
venu.school()

This student is from kts school.

In [40]:
venu.details()

The student name is: venu
Age is: 14
The roll no is: 990

In [41]:
student.details(venu)

The student name is: venu
Age is: 14
The roll no is: 990

In [42]:
ramu.details()

The student name is: ramu
Age is: 12
The roll no is: 998

In [43]:
student.details(ramu)

The student name is: ramu
Age is: 12
The roll no is: 998

In [45]:
student.school(ramu)

This student is from kts school.

In [46]:
ramu.details()

The student name is: ramu
Age is: 12
The roll no is: 998

In [47]:
ramu.school()

This student is from kts school.

In [60]:
class computer:
    def __init__(self,cpu,ram):
        self.cpu=cpu
        self.ram=ram
        print('hello world..This is constructor..')
    def config(self):
        print(f"This is {self.cpu} processor and {self.ram} ram..")

In [63]:
p1=computer("r5",12)

hello world..This is constructor..

In [64]:
p1.config()

This is r5 processor and 12 ram..

In [66]:
p2=computer("i7",32)

hello world..This is constructor..

In [68]:
p2.config()

This is i7 processor and 32 ram..

In [70]:
computer.config(p2)

This is i7 processor and 32 ram..

In [71]:
computer.config(p1)

This is r5 processor and 12 ram..

In [72]:
id(p1)

2208682550776

In [73]:
id(p2)

2208682552848

In [87]:
class people:
    def __init__(self):
        self.name="Tinku"
        self.age=21
        print(f"The default name is {self.name} and defalult age is {self.age}")

In [88]:
s1=people()

The default name is Tinku and defalult age is 21

In [89]:
s2=people()

The default name is Tinku and defalult age is 21

In [90]:
s1.name

'Tinku'

In [91]:
s2.name

'Tinku'

In [92]:
s1.name="Chintu"

In [93]:
s1.name

'Chintu'

In [83]:
s2.name

'Tinku'

In [94]:
people()

The default name is Tinku and defalult age is 21

In [95]:
class persons:
    def __init__(self):
        self.name="shiva"
        self.age=22
    def update(self):
        self.age=30
    def compare(self,other):
        if self.age==other.age:
            print("They are same..")
        else:
            print("They are not same..")

In [96]:
t1=persons()

In [97]:
t2=persons()

In [98]:
t1.compare(t2)

They are same..

In [99]:
t1.update()

In [100]:
t1.age

30

In [101]:
t2.age

22

In [102]:
t2.compare(t1)

They are not same..

In [103]:
t2.age=30

In [104]:
t1.compare(t2)

They are same..